Repository voxpupuli/puppet-puppetboard, pull requests merged in 2019-10, with the labels that each got.

#254 modulesync 2.9.0
  .fixtures.yml
  .travis.yml
  Gemfile
  manifests/params.pp
  spec/spec_helper.rb
Labels: modulesync

#255 add virtualenv_version parameter
  manifests/init.pp
  manifests/params.pp
Labels: enhancement

#257 rename LDAP include fragment file extension so it doesn't get include…
  manifests/apache/vhost.pp
  spec/classes/vhost_spec.rb
Labels: bug
