Repository voxpupuli/puppet-puppetboard, pull requests merged in 2020-10, with the labels that each got.

#292 Drop Python 2, implement Python 3, replace virtualenv with native python 3 implementation, drop EPEL parameter
  .sync.yml
  .travis.yml
  README.md
  files/wsgi.py
  manifests/apache/conf.pp
  manifests/apache/vhost.pp
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/classes/puppetboard_spec.rb
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#288 modulesync 3.0.0 & puppet-lint updates
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  manifests/apache/conf.pp
  manifests/apache/vhost.pp
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/class_spec.rb
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/classes/vhost_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#301 Fix depreciation introduced by https://github.com/puppetlabs/puppetlabs-apache/pull/1884
  manifests/apache/vhost.pp
Labels: bug

#284 add support for Apache::Vhost ssl_chain parameter
  manifests/apache/vhost.pp
Labels: enhancement

#302 Add datatypes to all params/puppet-strings docs
  REFERENCE.md
  manifests/apache/conf.pp
  manifests/apache/vhost.pp
  manifests/init.pp
  types/syslogpriority.pp
Labels: backwards-incompatible

#305 Fix broken puppet-strings docs / Add puppet-lint-param-docs linter
  .sync.yml
  Gemfile
  REFERENCE.md
  manifests/apache/conf.pp
  manifests/apache/vhost.pp
Labels: skip-changelog

#304 release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#307 delete unused variables in params.pp
  manifests/apache/vhost.pp
  manifests/params.pp
Labels: bug

#306 Fix "unresponsive" default value; default to 3 instead of 0
  manifests/init.pp
Labels: bug

#308 release 7.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#310 Fix running puppetboard without vhost
  REFERENCE.md
  manifests/apache/conf.pp
  spec/acceptance/class_spec.rb
  templates/apache/conf.erb
Labels: bug

#312 release 7.0.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#314 modulesync 3.1.0
  .msync.yml
  Dockerfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
Labels: modulesync
