Repository voxpupuli/puppet-puppetboard, pull requests merged in 2021-08, with the labels that each got.

#331 Remove the $listen parameter
  manifests/init.pp
Labels: backwards-incompatible

#327 increase lower bounds for stdlib, vcsrepo
  metadata.json
Labels: backwards-incompatible, tests-fail

#329 Add support for FreeBSD
  data/os/FreeBSD.yaml
  manifests/apache/vhost.pp
  manifests/init.pp
  metadata.json
  spec/classes/puppetboard_spec.rb
  spec/classes/vhost_spec.rb
Labels: enhancement

#335 Release 8.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
