Repository voxpupuli/puppet-puppetboard, pull requests merged in 2024-12, with the labels that each got.

#412 Add support for FreeBSD 14
  metadata.json
Labels: enhancement

#396 Add Debian 12 support
  data/os/Debian.12.yaml
  metadata.json
Labels: enhancement

#419 Drop Debian 10 and FreeBSD 12
  data/os/Debian.10.yaml
  data/os/RedHat.7.yaml
  metadata.json
Labels: backwards-incompatible

#418 Release 11.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
